*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100vw;
    background-color: rgb(250,250,250);
}
::-webkit-scrollbar{
    display: none;
}
/*p5画布*/
main canvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
/*header*/
.header_section ul{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: rgb(15, 15, 15);
}
.header_section li{
    display: block;
    list-style: none;
    padding: 0 10px;
    transform: translateY(-100px) rotateY(0deg);
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-100px) rotateY(0deg);
    }
    20%{
        opacity: 1;
        transform: translateY(0) rotateY(360deg);
    }
    40%{
        transform: translateY(-10px) rotateY(360deg);
    }
    50%{
        transform: translateY(0) rotateY(360deg);
    }
    60%{
        transform: translateY(-10px) rotateY(360deg);
    }
    70%{
        opacity: 1;
        transform: translateY(0) rotateY(360deg);
    }
    100%{
        opacity: 0;
        transform: translateY(100px) rotateY(720deg);
    }
}
.header_section li:nth-child(1){
    animation-delay: 0.1s;
}
.header_section li:nth-child(2){
    animation-delay: 0.3s;
}
.header_section li:nth-child(3){
    animation-delay: 0.5s;
}
.header_section li:nth-child(4){
    animation-delay: 0.7s;
}
.header_section li:nth-child(5){
    animation-delay: 0.9s;
}
.header_section li:nth-child(6){
    animation-delay: 1.1s;
}
.header_section li:nth-child(7){
    animation-delay: 1.3s;
}
.header_section li:nth-child(8){
    animation-delay: 1.5s;
}
.header_section li:nth-child(9){
    animation-delay: 1.7s;
}
/*body*/
.body_section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
    overflow-x: hidden;
}
.body_section>.innerCop_div{
    height: 200px;
    position: relative;
    background-color: rgba(231, 231, 231, 0.548);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    backdrop-filter: blur(2px);
}
.body_section>.innerCop_div>.innerImg_div{
    position: absolute;
    height: 200px;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
}
.body_section>.innerCop_div>.innerWords_div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    transition: 0.2s ease-in-out;
}
.body_section>.innerCop_div>.innerWords_div>.innerTitle_h2{
    font-size: 20px;
    padding: 5px;
    letter-spacing: 2px;
    white-space: nowrap
}
.body_section>.innerCop_div>.innerWords_div>.innerDate_h4{
    font-size: 15x;
    color: rgb(66, 66, 66);
    padding: 5px;
    letter-spacing: 2px;
    white-space: nowrap;
}
.body_section>.innerCop_div>.innerWords_div>.innerAbout_p{
    font-size: 15px;
    padding: 5px;
    padding-top: 20px;
    letter-spacing: 2px;
    white-space: nowrap;
}
.body_section>.innerCop_div>.innerWords_div>.type_p{
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: rgb(54, 54, 54);
    white-space: nowrap
}
.body_section>.innerCop_div>.innerWords_div>.type_p>span{
    font-size: 15px;
    padding: 2px;
    margin-top: 20px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 2px solid rgba(128, 128, 128, 0.301);
    color: rgb(54, 54, 54);
    white-space: nowrap
}
@media only screen and (min-width: 1000px) {/*电脑*/
    .body_section{
        padding-top: 100vh;
    }
    .body_section>.innerCop_div{
        width: 30%;
        margin: 1.5%;
    }
    .body_section>.innerCop_div>.innerImg_div{
        width: 150px;
        left: -150px;
    }
    /*animations*/
    .body_section>.innerCop_div:hover .innerImg_div{
        left: 0;
    }
    .body_section>.innerCop_div:hover .innerWords_div{
        margin-left: 150px;
    }
}
@media only screen and (max-width: 1000px) {/*手机*/
    .body_section{
        padding-top: 100vh;
    }
    .body_section>.innerCop_div{
        width: 48%;
        margin: 1%;
    }
    .body_section>.innerCop_div>.innerImg_div{
        display: none;
    }
    .body_section>.innerCop_div>.innerWords_div{
        padding-left: 0;
    }
}    
/*footer*/
.footer_section{
    width: 100vw;
    height: 300px;
    z-index: 1;
    overflow-x: hidden;
}